body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'FK Modernist', sans-serif;
  background-color: #125412;
}

.CreateAccount,
.RegisterAccount,
.LoginAccount,
.CreateProfile,
.Dashboard,
.MainDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: white;
  padding-top: 50px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  color: #E94057;
  margin-bottom: 20px;
}

.form-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: none;
}

.image-container img.active {
  display: block;
}

.Algorithm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Algorithm {
  color: #E94057;
  margin-bottom: 10px;
  align-self: center;
}

.Desc {
  margin: 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #E94057;
}

.button-container {
  margin-top: 20px;
}

.createanaccountbutton,
button[type="submit"] {
  width: 295px;
  height: 56px;
  background-color: #E94057;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
  align-self: center;
}

.createanaccountbutton:hover,
button[type="submit"]:hover {
  background-color: #d6384f;
}

.signin-link,
.register-link {
  margin-top: 10px;
  text-align: center;
}

.signin-link p,
.register-link p {
  margin-top: 20px;
}

.signin-link a,
.register-link a {
  color: #E94057;
  text-decoration: none;
  font-weight: bold;
}

.signin-link a:hover,
.register-link a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  margin-left: 15px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="date"],
input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#picture__input {
  display: none;
}

.picture {
  width: 100px;
  height: 100px;
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: white;
  padding-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}



h1 {
  color: black; /* Cor preta para o título */
  align-self: flex-start; /* Alinha o título à esquerda */
  margin-left: 20px; /* Espaço da margem esquerda */
  margin-bottom: 20px;
}

.gender-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  flex: 1;
}

.gender-button {
  width: 295px;
  height: 56px;
  background-color: white; /* Fundo branco */
  color: black;
  font-size: 16px;
  border: 2px solid #ccc; /* Borda cinza */
  cursor: pointer;
  border-radius: 15px;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.gender-button:hover {
  background-color: #E94057; /* Fundo rosa ao passar o mouse */
  color: white; /* Texto branco ao passar o mouse */
}

.gender-button.selected {
  background-color: #E94057; /* Fundo rosa ao ser clicado */
  color: white; /* Texto branco ao ser clicado */
}

.save-button {
  width: 295px;
  height: 56px;
  background-color: #E94057;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin: 30px 0 80px 0; /* Adiciona espaço acima e abaixo do botão Save */
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #d6384f;
}

.Interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: white;
  padding-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

span {
  font-size: 14px;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: -20px;
  color: #000000B2;
}

.interests-selection {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.interests-column {
  padding-left: 20px;
  width: 50%; /* Cada coluna ocupa metade do espaço */
}

.interest-button {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px; /* Ajusta o padding para alinhar o conteúdo */
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.interest-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.interest-button.selected {
  background-color: #ee6477; /* Fundo rosa ao ser clicado */
  border-color: #E94057; /* Borda rosa ao ser clicado */
  color: white; /* Texto branco ao ser clicado */
}

.save-button {
  width: 295px;
  height: 56px;
  background-color: #E94057;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 30px;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #d6384f;
}


.MainDashboard {
  width: 375px;
  height: 812px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section h1 {
  text-align: center;
  margin-top: -150px;
  height: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button {
  width: 60px; /* Tamanho total do botão */
  height: 60px;
  border-radius: 50%; /* Para criar uma borda redonda */
  border: 2px solid #E94057; /* Cor rosa */
  background-color: #E94057; /* Cor de fundo do círculo */
  margin: 10px; /* Margem entre os botões */
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button img {
  width: 24px; /* Tamanho da imagem */
  height: 24px;
  vertical-align: middle; /* Alinhamento vertical */
}

.dislike-button,
.superlike-button {
  width: 40px; /* Tamanho total do botão */
  height: 40px;
  border-radius: 50%; /* Para criar uma borda redonda */
  background-color: transparent; /* Sem cor de fundo */
  margin: 10px; /* Margem entre os botões */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dislike-button img,
.superlike-button img {
  width: 24px; /* Tamanho da imagem */
  height: 24px;
  vertical-align: middle; /* Alinhamento vertical */
}

.menu-section {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Espaço uniforme entre os itens */
  align-items: flex-end; /* Alinha os itens no final do contêiner */
  padding: 10px 0; /* Espaçamento interno */
  position: absolute;
  bottom: 0;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.menu-link img {
  width: 24px; /* Tamanho da imagem */
  height: 24px;
  margin-bottom: 30px; /* Espaçamento entre a imagem e o texto */
  vertical-align: middle; /* Alinhamento vertical */
}